body {
    position: relative;
    overflow-x: hidden;
    height: 100vh;
}

.signup-container {
    margin: auto;
    min-height: 85vh;
    margin-top: 3vh;
}

.signin-container {
    margin: auto;
    min-height: 60vh;
    margin-top: 3vh;
}
.email-sent-modal{
    min-height: 50vh;
}
.email-sent-con img{
    width:8vw;
    margin-top: 5vh;
} 

.conInput {
    position: relative;
    display: flex;
}

.toast-header {
    background-color: tomato;
}

.toast-header span {
    color: white;
}

#myToast {
    height: 0px;
    position: absolute;
    top: 10px;
    z-index: 99;
}
#resetModal .modal-content{
    min-height: 50vh;
}
#resetModal .modal-content h4{
    margin-top: 13vh;
}
.confirmed-image{
    background-image: url("../Images/confirmed.svg");
    background-position: center;
    background-size: cover;
    height: 30vh;
}
.stroke-white:hover svg {
    stroke: #343a40;
}
.signup-container .breadcrumb{
    background-color: white;
}
.signup-container .breadcrumb .active{
    color: #343a40;
}
.signup-container .breadcrumb{
    color: lightgrey;
}
.company-form{
    min-height: 40vh;
}
.workspace-form{
    min-height: 40vh;
}
.no-before::before{
    color: white !important;
}
#industryChooser option{
    font-size: 12px;
}
.industry-label{
    font-size: 12px;
}
.breadcrumb .fas{
    filter: opacity(0.8);
}
.appendage-join{
    min-height: 12vh;
    max-height: 35vh;
    position: absolute;
    background-color: white;
    z-index: 10000;
    border: 1px solid black;
    width: 94%;
    display: none;
    border-radius: 5px;
}
.append-join{
    height: 8vh;
}
.append-img{
    height: 7vh;
    width: 7vh;
}
.append-img img{
    height:100%;
    width: 100%;
}
.append-name{
    height: 50%;
}
.append-name span{
    font-weight: bold;
    font-size: 18px;
}
.append-id{
    height: 50%;
}
.append-id span{
    color: grey;
    font-size: 13px;
}
.add-append-btn{
    border-radius: 50%;
}
.skip-step span{
    font-size: 14px;
    color: grey;
}