body {
    overflow-x: hidden;
}

.signup-container {
    margin: auto;
    min-height: 85vh;
    margin-top: 3vh;
}

.signin-container {
    margin: auto;
    min-height: 85vh;
    margin-top: 15vh;
}
.email-sent-modal{
    min-height: 50vh;
}
.email-sent-con img{
    width:8vw;
    margin-top: 5vh;
} 

.conInput {
    position: relative;
    display: flex;
}

#myToast {
    height: 0px;
    z-index: 99;
}
#resetModal .modal-content{
    min-height: 50vh;
}
#resetModal .modal-content h4{
    margin-top: 13vh;
}
.confirmed-image{
    background-image: url("../Images/confirmed.svg");
    background-position: center;
    background-size: cover;
    height: 30vh;
}
.stroke-white:hover svg {
    stroke: #343a40;
}
.signup-container .breadcrumb{
    background-color: white;
}
.signup-container .breadcrumb .active{
    color: #343a40;
}
.signup-container .breadcrumb{
    color: lightgrey;
}
.company-form{
    min-height: 40vh;
}
.workspace-form{
    min-height: 40vh;
}
.no-before::before{
    color: white !important;
}
#industryChooser option{
    font-size: 12px;
}
.industry-label{
    font-size: 12px;
}