.error-box{
    height: 50vh;
    margin-top: 15vh;
    color: #343a40;
}
.error-code h3{
    font-size: 10vw;
    font-weight: bolder;
}
.error-message h4{
    font-size: 2vw;
    font-weight: bold;
}