*{
    box-sizing: border-box;
    padding:0;
}
body{
    font-family: 'Nunito', sans-serif;
    width: 100vw;
    position: relative;
}

.preloader {
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    z-index: 9999;
    visibility: hidden;
    height: 100%;
    width: 100%;
}
.preloader svg {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
}

body > nav {
    background-color: #fff !important;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

body:not(nav) {
    background-color: #f8f8f8;
}

.scroller{
    overflow-y: scroll;
}
.scroller::-webkit-scrollbar {
    width: 4px;
}
.scroller::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
    display: none;
}
 
.scroller::-webkit-scrollbar-thumb {
    color: black;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #343a40;
}
.box-shadow-0:focus{
    box-shadow: none;
}
.border-brand{
    border: 1px solid #343a40;
}
.border-radius-0{
    border-radius: 0;
}
.our-nav{
    height: 10vh;
}
.bg-brand{
    background-color: #343a40;
}
.underline-border{
    border: none;
    border-bottom: 1px solid #343434;
    border-radius: 0px;
}
.logo-btn{
    color: #343a40;
    background-color: white;
    border: 3px solid #343a40;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1.5px;
}
.btn-brand{
    color:white;
    background-color: #343a40;
    border: 1px solid #343a40;
    box-shadow: none;
    cursor: pointer;
}

.btn-brand:hover{
    color:#343a40;
    background-color: white;
}

.btn-outline-brand {
    color: #343a40;
    background-color: white;
    border: 1px solid #343a40;
    box-shadow: none;
}

.btn-outline-brand:hover{
    color:white;
    background-color: #343a40;
}

.con-input {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0;
}
.con-input span {
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    color: rgb(32, 30, 30);
    position: absolute;
    bottom: 10px;
    right: 20px;
    cursor: pointer;
}
.brand-input {
    font-size: 18px;
    /* border-bottom: 1px solid #343a40; */
    border: 1px solid #868686;
    border-radius: .25rem;
    outline: none;
    box-shadow: none;
    height: 50px;
}
.brand-input:focus{
    box-shadow: none;
    color: deepskyblue;
    border-bottom-color: deepskyblue;
    text-decoration: none;
    padding-bottom: 0;
    line-height: 0px;
}

.brand-input.invalid {
    color: red;
    border-color: red;
}

.brand-input:focus ~ .floating-label, 
.conInput > div:focus-within ~ .floating-label {
    color: deepskyblue;
}

.floating-label {
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 15px;
  margin-bottom: 18.5px;
  /* transform: translateY(15px); */
  transition: 0.2s ease all;
}

input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label, 
.conInput > div:focus-within ~ .floating-label, 
.conInput > div.valid ~ .floating-label,
.floating-label.stay  {
  /* top: -6px; */
  transform: translateY(-21px);
  bottom: 10px;
  font-size: 11px;
  opacity: 1;
  height: 10px;
  z-index: 99;
  background-color: #fff;
}

[data-id].invalid {
    color: red !important;
}

.text-grey{
    color: grey;
}

.float-right{
    float: right;
}

.user-image-nav{
    width: 40px;
    height: auto;
    border-radius: 50%;
    background-color: white;
}
.nav-pills .nav-link.active{
    background-color: #343a40;
}
.nav-pills .nav-link{
    color: #343a40;
}

.cen-con {
    background-color: #fff;
    border-radius: .25rem;
    box-shadow: 0 1px 0 rgba(0,0,0,.25);
    padding: 2rem 2rem 1rem;
    margin: 0 auto 2rem;
    position: relative;
    border: 1px solid #ddd;
}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
  }
    
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: deepskyblue;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px deepskyblue;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .grey-out {
      pointer-events: none;
  }

  .appendage-join {
      height: auto;
      width: auto;
      
  }

  .append {
      height: 50px;
  }