.project-nav{
    height: 83vh;
}
.team-leader{
    height: 10vh;
}
.team-leader span, .team-members span{
    font-size: 14px;
    color: gray;
}
.team-members{
    height: 20vh;
}
.team-con{
    border-radius: 20px;
}
.project-body{
    border-radius: 20px;
    height: 80vh;
}
.nav-3{
    min-height: 40vh;
    border-radius: 20px;
}
.tab-content{
    height: 60vh;
}
.project-nav-tab .tab-pane{
    
}
.project-nav-tab .tab-pane li{
    font-size: 12px;

}
.project-chart{
    height: 50vh;
}
.milestone{
    height: 10vh;
}
.completed-box{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: #343a40;
    border: 1px solid #343a40;
}
.completed-box:hover{
    color: white;
    background-color: #343a40;
}
.milestone-name{
    height: 50%;
}
.milestone-progress{
    background-color: white;
    border: 1px solid #343a40;
    border-radius: 5px;
}
.milestone-progress-bar{
    height: 20px;
    background-color: #343a40;
}
.assigned-user{
    background-color: limegreen;
    color: white;
    border-radius: 20px;
}